
@{
    ViewData["Title"] = "SentMessageDetail";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

@using EntityLayer.Entity
@model Message
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@Model.ReceiveUser.UserName kişisine gönderilen mesaj</h4>


            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Kişi</label>
                <div class="col-sm-9">
                    <input type="text" name="name" value="@Model.ReceiveUser.UserName" class="form-control" disabled>

                </div>
                <span asp-validation-for="name" class="text-danger"></span>


            </div>
            <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Konu</label>
                <div class="col-sm-9">
                    <input type="text" name="description" class="form-control" value="@Model.Subject" id="exampleInputEmail2" disabled>
                </div>

            </div>
            <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">İçerik</label>
                <div class="col-sm-9">
                    <input type="text" name="description" class="form-control" value="@Model.Content" id="exampleInputEmail2" disabled>
                </div>

            </div>
            <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Tarih</label>
                <div class="col-sm-9">
                    <input type="datetime" name="description" class="form-control" value='@Model.SendBy.ToString("dd-MM-yyy HH:mm:ss")' id="exampleInputEmail2" disabled>
                </div>

            </div>


            <a class="btn btn-light" href="/Admin/Message/SentMessage">İptal</a>

        </div>
    </div>
</div>

